@tailwind base;
@import "./epic-spinners.min.css";
@import "./Piazzolla.css";

html {
    @apply font-body;
}
html{
  margin: 0
}

@screen desktop{
  html {
      /* 1rem 14px 14/16=87.5 */
      font-size: 87.5%
  }
}
@screen laptop{
  html {
      /* 1rem 13px 13/16=81.25 */
      font-size: 81.25%
  }
}
@screen laptop-mini{
  html {
      /* 1rem 12px 12/16 */
      font-size: 75%
  }
}
@screen tablet{
  html {
      /* 1rem 10px 10/16 */
      font-size: 62.5%
  }
}
  @screen tablet-mini{
    html {
        /* 1rem 10px 10/16 */
        font-size: 62.5%
    }
}

@tailwind components;
    
@tailwind utilities;


.tb{
  background-size: 100% 200%; 
  background-image: linear-gradient(to bottom, #fff 50%, #32187C 50%);
  transition: 
    background-position .2s ease-in-out, 
    color .2s ease-in-out;
}

.tb:hover,
.tb:focus {
  background-position: 0 100%;
  color: #fff;
}
.header{
    max-width: 890px;
}
.story {
    max-width: 472px;
}
.story-width{
  max-width: 472px;
}

.story-half {
  max-height: 456px;
}

@screen desktop{
  .story {
    max-width: 400px;
}
}

.navbar-menu{
  height: 800px;
  max-height: 800px;
}

.navbar-container{
  max-width: 1452px;
}

.navbar-container:after {
  content: "";
  flex: auto;
}
.navbar-rect {
  width: 226px;
  height: 140px;
}
.outro-container{
  max-width: 1000px;
}
@screen desktop{
  .navbar-container{
    max-width: 1200px;
    
  }
  .navbar-menu{
     height: 100vh;
   
  }
  .navbar-rect {
    width: 226px;
    height: 140px;
  }
}
.modal{
  width: 336px;
height: 312px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
border-radius: 4px;
}
.modal-fade {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}
.bg-text{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 49.48%, rgba(0, 0, 0, 0) 100%);
}
/* up */
.slide-up-enter-active,
.slide-up-leave-active{
    position: fixed;
    width: 100%;
  
    min-height: 100vh;
    top: 0;
  }

.slide-up-enter-active {
  transition: transform 0.5s ease-in-out;
  z-index: 2;
  transform: translateY(100%);
}

.slide-up-enter-to {
  z-index: 2;
  transform: translateY(0%);
}

.slide-up-leave-active {
  z-index: -1;
}

.slide-up-leave-to {
  z-index: -1;
}
/* down */
.slide-down-enter-active,
.slide-down-leave-active {
  position: fixed;
  width: 100%;

  min-height: 100vh;
  top: 0;
}

.slide-down-leave-active {
  transition: transform 0.5s ease-in-out;
  z-index: 2;
  transform: translateY(0%);
}

.slide-down-leave-to {
  z-index: 2;
  transform: translateY(100%);
}

/* left */
.slide-left-enter-active,
.slide-left-leave-active{
    position: fixed;
    width: 100%;
  
    min-height: 100vh;
    top: 0;
  }

.slide-left-enter-active {
  transition: transform 0.5s ease-in-out;
  z-index: 2;
  transform: translateX(100%);
}

.slide-left-enter-to {
  z-index: 2;
  transform: translateX(0%);
}

.slide-left-leave-active {
  z-index: -1;
}

.slide-left-leave-to {
  z-index: -1;
}
/* right */
.slide-right-enter-active,
.slide-right-leave-active {
  position: fixed;
  width: 100%;

  min-height: 100vh;
  top: 0;
}

.slide-right-leave-active {
  transition: transform 0.5s ease-in-out;
  z-index: 2;
  transform: translateX(0%);
}

.slide-right-leave-to {
  z-index: 2;
  transform: translateX(100%);
}
.menu-mask{
  background-color: #1a065280;
}
/* navbar transition */
.menu-down-enter-active,
.menu-down-leave-active{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  transition: transform 1s ease-in-out;
}
.menu-down-enter,
.menu-down-leave-to{
  transform: translateY(-100%);
}

.menu-down-enter-to,
.menu-down-leave{
  transform: translateY(0%);
}
/* modal transition */
.modal-up-enter-active,
.modal-up-leave-active{
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  transition: transform 0.6s ease-in-out;
}
.modal-up-enter,
.modal-up-leave-to{
  transform: translateY(100%);
}

.modal-up-enter-to,
.modal-up-leave{
  transform: translateY(0%);
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(138, 138, 138, 0.527); 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(53, 36, 128, 0.904); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #601b7967; 
  }
  .o-modal::-webkit-scrollbar-thumb {
    background: rgba(120, 109, 170, 0.952); 
    border-radius: 5px;
  }

body{
  scrollbar-color: #9da2a8 #C2D2E4;
  scrollbar-width: thin;
}
body::-webkit-scrollbar {
  width: 5px;
}