@tailwind base;
@import "./Piazzolla.css";
html {
    @apply font-body;
}
@tailwind components;
    
@tailwind utilities;

.header{
    max-width: 890px;
}
.story {
    max-width: 472px;
    max-height: 700px;
}
.navbar-menu{
  height: 800px;
  max-height: 800px;
}

.navbar-container{
  max-width: 1452px;
}
.navbar-container:after {
  content: "";
  flex: auto;
}
.navbar-rect {
  width: 226px;
  height: 140px;
}

.bg-text{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 49.48%, rgba(0, 0, 0, 0) 100%);
}
/* up */
.slide-up-enter-active,
.slide-up-leave-active{
    position: fixed;
    width: 100%;
  
    min-height: 100vh;
    top: 0;
  }

.slide-up-enter-active {
  transition: transform 0.5s ease-in-out;
  z-index: 2;
  transform: translateY(100%);
}

.slide-up-enter-to {
  z-index: 2;
  transform: translateY(0%);
}

.slide-up-leave-active {
  z-index: -1;
}

.slide-up-leave-to {
  z-index: -1;
}
/* down */
.slide-down-enter-active,
.slide-down-leave-active {
  position: fixed;
  width: 100%;

  min-height: 100vh;
  top: 0;
}

.slide-down-leave-active {
  transition: transform 0.5s ease-in-out;
  z-index: 2;
  transform: translateY(0%);
}

.slide-down-leave-to {
  z-index: 2;
  transform: translateY(100%);
}

/* left */
.slide-left-enter-active,
.slide-left-leave-active{
    position: fixed;
    width: 100%;
  
    min-height: 100vh;
    top: 0;
  }

.slide-left-enter-active {
  transition: transform 0.5s ease-in-out;
  z-index: 2;
  transform: translateX(100%);
}

.slide-left-enter-to {
  z-index: 2;
  transform: translateX(0%);
}

.slide-left-leave-active {
  z-index: -1;
}

.slide-left-leave-to {
  z-index: -1;
}
/* right */
.slide-right-enter-active,
.slide-right-leave-active {
  position: fixed;
  width: 100%;

  min-height: 100vh;
  top: 0;
}

.slide-right-leave-active {
  transition: transform 0.5s ease-in-out;
  z-index: 2;
  transform: translateX(0%);
}

.slide-right-leave-to {
  z-index: 2;
  transform: translateX(100%);
}
.menu-mask{
  background-color: #1a065280;
}
/* navbar transition */
.menu-down-enter-active,
.menu-down-leave-active{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  transition: transform 1s ease-in-out;
}
.menu-down-enter,
.menu-down-leave-to{
  transform: translateY(-100%);
}

.menu-down-enter-to,
.menu-down-leave{
  transform: translateY(0%);
}
/* menu fade */
.menu-fade-enter-active,
.menu-fade-leave-active,
{
  transition: opacity 0.5s;
}
.menu-fade-enter, .menu-fade-leave-to {
  opacity: 0;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(17, 15, 26, 0.603); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #12071667; 
  }